arc:
    id: {{ context.id }}
    align: CENTER
    {% if context.min %}
    min_value: {{ context.min }}
    {% endif %}
    {% if context.max %}
    max_value: {{ context.max }}
    {% endif %}
    {% if context.value %}
    value: {{ context.value }}
    {% endif %}
    adjustable: false
    {% for key, value in context.items() if key not in ['type', 'id', 'min', 'max', 'value'] %}
    {{ key }}: {{ value }}
    {% endfor %}
