- arc:
    id: {{ id }}
    align: CENTER
    width: {{ width }}
    height: {{ height }}
    min_value: {{ min }}
    max_value: {{ max }}
    value: {{ value }}
    start_angle: 0
    end_angle: 359
    rotation: 270
    adjustable: false
